body {
    background-color: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
}

/* Заголовок */
h1 {
    color: #2a52be;
    text-transform: uppercase;
}

/* Підзаголовки */
h2 {
    color: #ff6347;
}

/* Списки */
ul, ol {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Посилання */
a {
    color: #006400;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #ff4500;
}